.blog-title {
     text-decoration: none;
     color: rgb(0, 0, 0);
}
.blog-title:hover {
     text-decoration: none;
     color: rgb(106, 146, 161);
}

.page_header {
     background-image: url(../images/blog_banner.png);
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
     height: 50vh;
}
