{% extends 'core/base.html' %}
{% load static %}
{% block perpageStyle %}
<link rel="stylesheet" href="{% static 'useraccount/css/style.css' %}">
{% endblock perpageStyle %}
{% block title %} Contact {% endblock title %}

{% block main-content %}

<div class="container">
    <h1> sia</h1>
</div>

{% endblock main-content %}

'regi_active':'navbar-active-color'
'login_active':'navbar-active-color'
'cart_active':'navbar-active-color'
'user_active':'navbar-active-color'
'blog_active':'navbar-active-color'
'shop_active':'navbar-active-color'
'doctor_active':'navbar-active-color'