{% load static %}
<footer class="container-fluid p-2 mt-5" style="background-color: #1d262d;">


    <div class="container-fluid text-white">
        <div class="row">
            <div class="col-md-4 p-5 text-justify">
                <h2>Smart Psychologist</h2>
                <hr>
                <p class="fp">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sapiente hic minus quidem
                    saepe eum
                    excepturi, exercitationem aut vitae reiciendis velit. Voluptates dicta minus ipsam officiis.</p>
            </div>
            <div class="col-md-4 p-5">
                <h2>Address</h2>
                <hr>
                <p class="fp">
                    Datta Para,Ashulia,Savar,Dhaka
                </p>
                <p class="fp">Phone : 017 12345678</p>
                <p class="fp">Email : smart@gmail.com</p>
            </div>
            <div class="col-md-4 p-5">
                <h2>Social Media</h2>
                <hr>
                <div class="social">
                    <span style="font-size: 3em;">
                        <i class="fab fa-facebook-square"></i>
                    </span>
                    <span style="font-size: 3em;">
                        <i class="fab fa-twitter-square"></i>
                    </span>
                    <span style="font-size: 3em;">
                        <i class="fab fa-instagram-square"></i>
                    </span>
                    <span style="font-size: 3em;">
                        <i class="fab fa-youtube"></i>
                    </span>




                </div>
            </div>
        </div>
    </div>

    <div class="div text-center p-2" style="background-color: rgba(55,73,87,0.5);">
        <small class="text-white">Copyright &copy; 2021 || Designed By Creative Fish
            || </small>
        <img src="{% static 'core/images/payment.png' %}" alt="" srcset="" class="img-fluid" height="2px">
    </div>
</footer>