{% extends 'core/base.html' %}
{% load static %}
{% block title %} Password Reset Done {% endblock title %}
{% block main-content %}


<div class="container">
    <div class="row">
        <div class="col-md-6 mx-auto text-center mt-5">
            <h3>Password Reset Successfully</h3>
            <div class="my-4"><iframe src="https://giphy.com/embed/f8UWGF6oCiupG6IxSp" width="200" height="200"
                    frameBorder="0" class="giphy-embed" allowFullScreen></iframe></div>

            <p> <a href="{% url 'login' %}">Back to login Page</a> </p>
        </div>
    </div>
</div>




{% endblock main-content %}