{% extends 'core/base.html' %}
{% load static %}
{% block title %}Buy Now{% endblock title %}
{% block main-content %}
<div class="container">
  <div class="row mt-5">
    <div class="col-sm-6">
      <h4>Order Summary</h4>
      <hr>
      {% for cart in cart_item %}
      <div class="card mb-2">
        <div class="card-body">
          <h5><strong>Product :</strong> {{cart.product.product_name}}</h5>
          <p><strong>Quantity :</strong> {{cart.quantity}} pes.</p>
          <p class="fw-bold"><strong>Price :</strong> {{cart.total_cost}} Tk.</p>
        </div>
      </div>
      {% endfor %}
      <div class="card">
        <div class="card-body text-right bg-warning p-3">
          <p class="font-weight-bold m-0">Total Cost = {{totalamount}} Tk.</p>
        </div>
      </div>

      <small>Term and Condition: Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia, ullam saepe! Iure
        optio repellat dolor velit, minus rem. Facilis cumque neque numquam laboriosam, accusantium adipisci nisi nihil
        in et quis?</small>
    </div>


    <div class=" col-sm-4 offset-sm-1">
      {% if profile %}
      <h4>Customer Details</h4>
      <hr>
      <form action="/paymentdone">

        {% for pro in profile %}
        <div class="card">
          <div class="card-body">
            <h5>{{pro.name}}</h5>
            <p>{{pro.address}},{{pro.city}}-{{pro.zip_code}} </p>
            <input class="form-check-input" type="hidden" name="cusproid" value="{{pro.id}}">
          </div>
        </div>
        {% endfor %}


        {% if adrs %}
        <h5 class="mt-3">Select Shipping Address</h5>
        <hr>
        {% for adrs in adrs %}
        <div class="form-check my-2">
          <input class="form-check-input" type="radio" name="ardsid" value="{{adrs.id}}" id="adrsid{{forloop.counter}}"
            required>
          <label class="form-check-label fw-bold" for="adrsid{{forloop.counter}}">
            Address: {{forloop.counter}} </label>
        </div>
        <div class="card">
          <div class="card-body">
            <p>{{adrs.home_address}}, {{adrs.city}}-{{adrs.zip_code}}, {{adrs.division}} Bangladesh </p>
          </div>
        </div>

        {% endfor %}

        {% else %}
        <div class="alert alert-info mt-5" role="alert">
          Pleace add your delivery address !
          <strong><a href="{% url 'deliveryaddress' %}">Add Delivery Address</a></strong>
        </div>
        {% endif %}

        <h5 class="mt-3"> Select Payment Option</h5>
        <hr>
        <div class="form-check my-2">

          <input class="form-check-input" type="radio" name="cashondelivery" value="Cash On Delivery" id="cod" required
            checked>
          <label class="form-check-label fw-bold" for="cod">
            Cash On Delivery </label>
        </div>

        <div class="text-end">
          {% if adrs %}
          <button type="submit" class="btn btn-warning mt-3 px-5 fw-bold">Continue</button>
          {% else %}
          <small class="d-block text-warning">Please add your address first</small>
          <a class="btn btn-warning mt-3 px-5 fw-bold">Continue</a>
          {% endif %}

        </div>
      </form>
    </div>


    {% else %}
    <div class="alert alert-info mt-5" role="alert">
      Pleace update your profile than comfirm your order! <strong><a href="{% url 'updateprofile' %}">Update
          Profile</a></strong>
    </div>
    {% endif %}
  </div>
</div>
{% endblock main-content %}